@import "../node_modules/bootstrap/scss/functions";

@import ".././node_modules/bootstrap/scss/bootstrap-grid.scss";

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// -------

@import "./base/reset";
@import "./base/base";

@import "./layout/grid";

@import "./utils/variables";
@import "./utils/utilities";
@import "./utils/screenSet";

@import "./components/navbar";
@import "./components/sub";
@import "./components/card";
@import "./components/button";
@import "./components/input";
@import "./components/footer";

@import "./pages/index";
@import "./pages/result";
@import "./pages/detail";


*{
    outline: 1px solid lightslategrey;
}

.seb-tit {
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: bold;
    color: $color-basic-b;
}

.result-main {
    position: absolute;
    left: 0;
}

.mr-4 {
    margin-right: 4px !important;
}