.fz-ets {
    // 12
    font-size: $basic_unit*0.75;
}
.fz-xxs {
    // 14
    font-size: $basic_unit*0.875;
}
.fz-xs {
    // 20
    font-size: $basic_unit*1.25;
}
.fz-sm {
    // 24
    font-size: $basic_unit*1.5;
}
.fz-m {
    // 32
    font-size: $basic_unit*2;
}
.fz-lg {
    // 48
    font-size: $basic_unit*3;
}
.fw-bold {
    font-weight: bold;
}

// mr --- margin-right
.mr-tiny {
    margin-right: $basic_unit*0.5;
}
.mr-1 {
    margin-right: $basic_unit;
}
.mr-xs {
    // 24
    margin-right: $basic_unit*1.5;
}
.mr-sm {
    // 30
    margin-right: $basic_unit*1.875;
}
.mr-m {
    // 48
    margin-right: $basic_unit*3;
}

// mb --- margin-bottom
.mb-tiny {
   margin-bottom: $basic_unit*0.5; 
}
.mb-1 {
    margin-bottom: $basic_unit;
}
.mb-xs {
    // 24
    margin-bottom: $basic_unit*1.5;
}
.mb-m {
    // 48
    margin-bottom: $basic_unit*3;
}
.mb-lg {
    // 72
    margin-bottom: $basic_unit*4.5;
}

// pb --- padding-bottom
.pb-lg {
    // 72
    padding-bottom: $basic_unit*4.5;
}
// pr --- padding-right
.pr-1 {
    padding-right: $basic_unit;
}
.pr-sm {
    // 30
    padding-right: $basic_unit*1.875;
}
.pr-m {
    padding-right: $basic_unit*3;
}
.pl-xs {
    // 24
    padding-left: $basic_unit*1.5;
}


.d-flex {
    display: flex;
}
.h-100p {
    min-height: 100%;
}
.w-50p {
    max-width: 50%;
}
.w-100p {
    width: 100%;
}
.d-flex {
    display: flex;
}
.flex-d-col {
    flex-direction: column;
}
.flex-d-col-r {
    flex-direction: column-reverse;
}
.flex-d-row-r {
    flex-direction: row-reverse;
}
.flex-wrap-w {
    flex-wrap: wrap;
}
.jc-center {
    justify-content: center;
}
.jc-flex-end {
    justify-content: flex-end;
}
.jc-space-between {
    justify-content: space-between;
}
.ai-center {
    align-items: center;
}
.ta-center {
    text-align: center;
}
.flex-1 {
    flex: 1;
}
.ta-right {
    text-align: right;
}

// -----------------------
.font-primary {
    font-family: $primary-font;
}
.color-primary {
    color: $color-primary;
}
.color-secondary {
    color: $color-secondary;
}
.color-tertiary {
    color: $color-tertiary;
}
.color-basic-b {
    color: $color-basic-b;
}
.color-basic-w {
    color: $color-basic-w;
}
.color-basic-w-light {
    color: $color-basic-w-light;
}
.bgc-primary {
    background-color: $color-primary;
}
.bgc-secondary {
    background-color: $color-secondary;
}
.bgc-tertiary {
    background-color: $color-tertiary;
}
.bgc-basic-w {
    background-color: $color-basic-w;
}


