$basic_unit: 16px;
$color-primary: #6C51E2;
$color-secondary: #F1F0F8;
$color-tertiary: #00000099;
$color-basic-b: #000000DE;
$color-basic-w: #fff;
$color-basic-w-light: #FFFFFF98;

// 
$primary-font: 'Raleway';