.gallery {
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.gallery-lg {
    height: 434px;
    @include screen-md {
        height: 268px;
    }
}
.gallery-m {
    height: 213px;
    @include screen-md {
        height: 132px;
    }
}
.gallery-s {
    height: 151px;
    @include screen-md {
        height: 93px;
    }
}

.select-tab {
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: $color-secondary;
}

.type-list {
    height: 200px;
    .type-list-img{
        width: 35%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .type-list-info {
        width: 65%;
        padding: 8px 16px;
        @include screen-sm {
            padding: 12px;
        }
    }
}


.room-fea-list {
    @include screen-md {
        align-items: center;
        li {
            width: 15%;
        }
        .material-icons {
            font-size: 16px;
        }
    }
}

.type-list {
    .type-list-img{
        @include screen-md {
            width: 50%;
        }
    }
    .type-list-info {
        @include screen-md {
            width: 50%;
            padding: 8px;
        }
    }
}

.result-sel-room {
    @include screen-sm {
        margin-bottom: 16px;
        .seb-tit {
            margin-bottom: 0;
        }
    }
}


.result-gallery, .result-sel-room-list, .result-room-type-tit {
    @include screen-sm {
        display: none !important;
    }
}

.result-room-type {
    padding-right: 8px;
    @include screen-sm {
        display: none !important;
    }
}

.result-room-info-top {
    @include screen-sm {
        align-items: flex-start;
        flex-direction: column;
    }
}

.type-list-mob {
    border-radius: 4px;
    .type-list-mob-img {
        width: 150px;
        height: 150px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .type-list-mob-info {
        display: flex;
        flex-direction: column;
        padding: 8px;
    }
}

.gallery-list-mob {
    height: 240px;
    overflow: hidden;
}

.result-gallery-mob {
    display: none;
    @include screen-sm {
        display: block;
    }
}