.gallery {
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.gallery-lg {
    height: 434px;
}
.gallery-m {
    height: 213px;
}
.gallery-s {
    height: 151px;
}

.select-tab {
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: $color-secondary;
}

.type-list {
    height: 200px;
    .type-list-img{
        width: 35%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .type-list-info {
        width: 65%;
        padding: 8px 16px;
    }
}
