
.header {
    height: 320px;
    margin-bottom: 120px;
    background: url(https://images.unsplash.com/photo-1494367067577-502b2c602fcc?ixlib=rb-1.2.1&auto=format&fit=crop&w=1889&q=80) no-repeat;
    background-attachment: fixed;
    background-position: center 65%;
    background-size: cover;
    position: relative;
    .container {
        margin-top: 72px;
    }
    .index-search-bar {
        width: 920px;
        border-radius: 8px;
        padding: 24px;
        position: absolute;
        bottom: -54px;
        li {
            border-radius: 4px;
        }
        a {
            color: #fff;
        }
    }
}


.top-tab {
    cursor: pointer;
    color: $color-tertiary;
    border-bottom: 2px solid $color-secondary;
}
.top-tab-active {
    color: $color-primary;
    border-bottom: 2px solid $color-primary;
}

.choices-card {
    .card-img-wrap {
        height: 175px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}



.card {
    position: relative;
    &:hover {
        .pop-img::after {
            background: transparent;
        }
    }
    .pop-img {
        height: 78px;
        position: relative;
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(270deg,transparent,#000);
            transition: .2s;
        }
    }
    .pop-txt {
        width: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.ins-img {
    height: 263px;
}
.ins-tit {
    height: 40px;
    overflow: hidden;
}
.ins-dec {
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.index-sub {
    padding-top: 92px;
    padding-bottom: 92px;
}

.choices {
    position: relative;
    .choice-next {
        position: absolute;
        top: 50%;
        right: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: $color-basic-b;
        background-color: $color-secondary;
        z-index: 50;
        cursor: pointer;
    }
}



// -------- RWD --------
.header {
    @include screen-md {
        margin-bottom: 312px;
    }
    .index-search-bar {
        @include screen-md{
            max-width: 75%;
            flex-direction: column;
            bottom: -230px;
        }
        .index-search-bar-list {
            @include screen-md{
                flex-direction: column;
            }
        }
        li {
            @include screen-md{
                margin-bottom: 16px;
            }
        }
    }
}
.ins-img {
    @include screen-md{
        height: 158px;
    }
}

.pop-card {
    @include screen-sm{
        margin-bottom: 8px;
    }
}