
.header {
    height: 80vh;
    margin-bottom: 120px;
    background: url(../img/Sydney-Opera-House.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    .index-search-bar {
        border-radius: 8px;
        padding: 24px;
        position: absolute;
        bottom: -54px;
    }
}

.top-tab {
    color: $color-secondary;
    border-bottom: 2px solid $color-secondary;
    // width: 400px;
    // border-bottom: 2px solid $color-secondary;
}
.top-tab-active {
    color: $color-primary;
    border-bottom: 2px solid $color-primary;
}


.card {
    position: relative;
    .pop-img {
        height: 78px;
        position: relative;
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(270deg,transparent,#000);
        }
    }
    .pop-txt {
        width: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.ins-img {
    height: 263px;
}
.ins-tit {
    height: 40px;
    overflow: hidden;
}
.ins-dec {
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.index-sub {
    padding-top: 92px;
    padding-bottom: 92px;
}