.result-navbar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    z-index: 10;
    background: $color-basic-w;
    li {
        cursor: pointer;
    }
    a {
        &:hover {
            color: $color-primary;
        }
    }
}

.mr-37 {
    margin-right: 37px;
}
.pt-10 {
    padding-top: 10px;
}

.fillet-8 {
    border-radius: 8px;
}

.result-b-btm-w {
    border-bottom: 1.5px solid $color-basic-w;
}

.result-b-btm-sec {
    border-bottom: 1.5px solid $color-secondary;
}

.result-filter-item {
    position: relative;
    input[type=checkbox] {
        opacity: 0;
    }
    input[type=checkbox] + label:before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1.5px solid $color-tertiary;
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        margin-top: 0.15rem;
    }
    input[type=checkbox]:checked + label:before {
        background-color: $color-primary;
        border: 1.5px solid $color-primary;

    }
}


.result-card {
    height: 200px;
    .result-card-img {
        width: 35%;
        overflow: hidden;
        border-radius: 8px 0px 0px 8px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .result-card-info {
        width: 65%;
        padding: 1rem;
        border-radius: 0px 8px 8px 0px;
        &:hover {
            box-shadow: 3px 3px 5px $color-secondary;
        }
    }
    .result-card-tag {
        padding: 4px 8px;
        margin-right: 4px;
        color: $color-tertiary;
        border-radius: 12px;
        background-color: $color-secondary;
    }
}

.pagination-bar, .pagination-bar-mob {
    padding: 1rem;
    .pagination {
        width: 38px;
        height: 38px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-basic-b;
        border-radius: 3px;
    }
    .pagination-active {
        background-color: #fff;
    }
}
.pagination-prv {
    background-color: $color-secondary !important;
}



.result-input-w {
    width: 312px;
    padding: 10px 0;
}

.result-tab-active {
    color: $color-primary;
}

.budget-block {
    .price-rangeSlider {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: $color-primary;
        &::before {
            content: '';
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: $color-primary;
            position: absolute;
            top: 0;
            left: 0;
    
        }
    }
}

.price-box {
    width: 45%;
    padding: 8px;
    background-color: #fff;
    border-radius: 4px;
}


// -----------------

.mob-mb {
    @include screen-md{
        margin-bottom: 8px !important;
    }
}
.budget-price {
    @include screen-md{
        display: none !important;
    }
}
.budget-price-mob {
    padding: 8px;
    display: none;
    @include screen-md{
        display: flex !important;
    }
}

.result-input-w {
    @include screen-md {
        width: 180px;
        margin-right: 8px !important;
        padding: 0;
    }
    .material-icons {
        @include screen-md {
            padding: 8px !important;
        }
    }
}
.result-input-date {
    @include screen-md{
        display: none !important;
    }
}
.result-input-date-mob {
    display: none !important;
    @include screen-md{
        display: flex !important;
    }
}



.result-list {
    li {
        @include screen-md{
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}
.result-card {
    @include screen-md{
        height: 150px;
    }
}
.res-card-locationTown {
    @include screen-md{
        font-size: 12px;
    }
}
.res-card-dot, .res-card-farCenter {
    @include screen-md{
        display: none;
    }
}
.res-card-deals {
    @include screen-md{
        flex-direction: column;
        .result-card-tag {
            width: 65%;
            margin-right: 0px;
            margin-bottom: 4px;
            font-size: 10px;
            text-align: center;
        }
    }
}
.result-card-name, .result-card-price {
    @include screen-md{
        font-size: 16px;
        color: #000;
    }
}

.result-filter-item {
    @include screen-md {
        font-size: 14px;
    }
}

.pagination-bar {
    @include screen-md {
        display: none !important;
    }
}
.pagination-bar-mob {
    display: none;
    border-radius: 8px;
    @include screen-md {
        display: flex !important;
    }
    .pagination-mob-prv, .pagination-mob-nxt {
        width: 40px;
        height: 40px;
        border-radius: 4px;
    }
    .pagination-mob-prv {
        background-color: $color-secondary;
    }
}