// .container-l {
//     max-width: 1140px;
//     margin: 0 auto;
// }
// .row {
//     // display: flex;
//     padding: 0 15px;
// }

.mr-37 {
    margin-right: 37px;
}

.search-box {
    width: 30%;
}

.border-rad-8px {
    border-radius: 8px;
}

.result-b-btm-w {
    border-bottom: 1.5px solid $color-basic-w;
}

.result-b-btm-sec {
    border-bottom: 1.5px solid $color-secondary;
}

.result-filter-item {
    position: relative;
    input {
        opacity: 0;
    }
    input[type=checkbox] + label:before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1.5px solid $color-tertiary;
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        margin-top: 0.15rem;
    }
}


.result-card {
    height: 200px;
    .result-card-img {
        width: 35%;
        overflow: hidden;
        border-radius: 8px 0px 0px 8px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .result-card-info {
        width: 65%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }
    .result-card-tag {
        padding: 4px 8px;
        margin-right: 4px;
        color: $color-tertiary;
        border-radius: 12px;
        background-color: $color-secondary;
    }
}

.pagination-bar {
    padding: 1rem;
    .pagination {
        width: 38px;
        height: 38px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-basic-b;
        border-radius: 3px;
    }
    .pagination-active {
        background-color: #fff;
    }
}

.sub {
    padding: 32px 0;
    height: 104px;
}