<!-- index 搜尋bar -->
<div class="d-flex bgc-secondary index-search-bar">
    <ul class="d-flex">
        <li class="d-flex jc-center ai-center mr-1 bgc-basic-w">
            <span class="material-icons color-basic-b pl-1 pr-1">location_on</span>
            <input type="text" placeholder="Destination" class="input">
        </li>
        <li class="d-flex jc-center ai-center mr-1 bgc-basic-w">
            <span class="material-icons color-basic-b pl-1 pr-1">date_range</span>
            <input type="text" placeholder="Check-in / Check-out" class="input">
        </li>
        <li class="d-flex jc-center ai-center mr-1 bgc-basic-w">
            <span class="material-icons color-basic-b pl-1 pr-1">person</span>
            <input type="text" placeholder="Guests" class="input">
        </li>
    </ul>
    <button class="button btn-primary btn-b">SEARCH</button>
</div>


<!-- ---------------------------------- -->
<!-- 顯示搜尋結果的搜尋bar -->
<section class="pt-xs pb-xs mb-xs bgc-secondary">
    <div class="container">

        <div class="d-flex bgc-secondary index-search-bar">
            <ul class="d-flex jc-space-between">
                <li class="result-input-w d-flex ai-center mr-1 bgc-basic-w">
                    <span class="material-icons color-basic-b pl-1 pr-1">location_on</span>
                    <div class="w-100p">
                        <p class="fz-ets fw-bold color-basic-b">Destination</p>
                        <input type="text" placeholder="Reykjavík, Iceland" class="result-input">
                    </div>
                </li>
                <li class="result-input-w d-flex ai-center mr-1 bgc-basic-w">
                    <span class="material-icons color-basic-b pl-1 pr-1">date_range</span>
                    <div class="w-40p">
                        <p class="fz-ets fw-bold color-basic-b">Check-in</p>
                        <input type="text" placeholder="21 June" class="result-input">
                    </div>
                    <div class="w-50p pl-1 border-l">
                        <p class="fz-ets fw-bold color-basic-b">Check-out</p>
                        <input type="text" placeholder="23 June" class="result-input">
                    </div>
                </li>
                <li class="result-input-w d-flex ai-center mr-1 bgc-basic-w">
                    <span class="material-icons color-basic-b pl-1 pr-1">person</span>
                    <div class="w-100p">
                        <p class="fz-ets fw-bold color-basic-b">Guests</p>
                        <input type="text" placeholder="2 adults・1 room" class="result-input">
                    </div>
                </li>
                <button class="button btn-primary btn-b">SEARCH</button>
            </ul>
        </div>
    </div>
</section>