.container {
	max-width: 1110px;
	margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

$columns: 12;

@for $width from 1 through $columns {
	.col-#{$width} {
		// flex-basis: ($width / $columns) * 100%;
		flex-basis: percentage($width / $columns);
		// flex-basis: floor(($width / $columns) * 100%);
	}  
}