.button {
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
}

// btn-small
.btn-s {
    height: 36px;
    padding: 8px 16px;
    font-size: 14px;
}
// btn-big
.btn-b {
    padding: 16px 32px;
    font-size: 16px;
}

.btn-primary {
    color: $color-basic-w;
    background-color: $color-primary;
    border: none;
    &:hover {
        background-color: darken($color-primary, 5);
    }
}

.btn-secondary {
    color: $color-primary;
    background-color: #fff;
    border: 1px solid $color-primary;
    &:hover {
        color: $color-basic-w;
        background-color: darken($color-primary, 2);
    }
}

.btn-bg-b {
    background-color: #121212;
}