.button {
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
}

// btn-small
.btn-s {
    height: 36px;
    padding: 8px 16px;
    font-size: 14px;
}
// btn-big
.btn-b {
    padding: 16px 32px;
    font-size: 16px;
}

.btn-primary {
    color: $color-basic-w;
    background-color: $color-primary;
    border: none;
}

.btn-secondary {
    color: $color-primary;
    background-color: $color-basic-w;
    border: 1px solid $color-primary;
}

.btn-bg-b {
    background-color: #121212;
}