.card-img-wrap {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// .card-dec {
//     width: 100%;
// }

// .card-dec> p {
//     display: -webkit-box;
//     overflow: hidden;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     -webkit-line-clamp: 2;
//     -webkit-box-orient: vertical;
// }