.footer {
    padding-top: 28px;
    padding-bottom: 28px;
    li {
        cursor: pointer;
    }
    a {
        &:hover {
            color: $color-primary;
        }
    }
}


// -------- RWD --------
.footer{
    .container {
        @include screen-xs{
            flex-direction: column-reverse;
        }
        p {
            @include screen-xs{
                margin-top: 16px;
            }
        }
    }
    li {
        @include screen-md{
            font-size: 14px;
        }
    }
}
.footer-select-list {
    @include screen-md{
        display: none;
    }
}