.footer {
    padding-top: 28px;
    padding-bottom: 28px;
    li {
        cursor: pointer;
        @include screen-md{
            font-size: 14px;
        }
    }
    a {
        &:hover {
            color: $color-primary;
        }
    }
}