// index 搜尋bar
.input {
    ::placeholder {
        color: $color-tertiary;
    }
    width: 100%;
    background-color: $color-basic-w;
    border: none;
    border-radius: 4px 0px 0px 4px;
    padding: 16px;
}

// 顯示搜尋結果的搜尋bar
.result-input {
    width: 100%;
    border: none;
    ::placeholder {
        font-size: 14px;
        color: $color-tertiary;
    }
}


.index-search-bar-mob {
    display: none;
    @include screen-xs {
        display: block;
    }
}

.result-input-mob {
    border: none;
    background-color: $color-secondary;
    ::placeholder {
        font-size: 12px;
        color: $color-secondary;
    }
}
