// 首頁 Navbar 樣式
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: $color-basic-w;
    li {
        cursor: pointer;
    }
    a {
        width: 100%;
        height: 100%;
        &:hover {
            color: $color-primary;
        }
    }
}
.logo,.logo-mob {
    a {
        width: 96px;
        height: 24px;
        background: url(../img/logo-aloha.svg) no-repeat;
        display: block;
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
    }
}

.nav-mob-list {
    display: none;
}

.drop-list {
    display: none;
    position: absolute;
    margin-top: 8px;
    font-size: 14px;
    border-radius: 8px;
    background-color: lighten(#F1F0F8, 0.9);
    li {
        padding: 8px 16px;
    }
}

// ----- 首頁 Navbar RWD -----
.navbar {
    .container {
        @include screen-xs{
            justify-content: center;
        }
    }
}
.nav-list, .logo {
    @include screen-xs{
        display: none !important;
    }
}
.nav-mob-list {
    @include screen-xs{
        width: 100%;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        color: #121212;
    }
    a {
        color: #121212;
    }
}


// 非首頁之 Navbar 樣式
.result-navbar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    z-index: 10;
    background: $color-basic-w;
    li {
        cursor: pointer;
    }
    a {
        &:hover {
            color: $color-primary;
        }
    }
}
.result-input-w {
    width: 312px;
    padding: 10px 0;
}

// ----- 非首頁之 Navbar RWD -----
.result-navbar {
    .index-search-bar {
        @include screen-xs {
            display: none !important;
        }
    }
}
.result-navbar-list, .logo {
    @include screen-xs{
        display: none !important;
    }
}
.result-input-w {
    @include screen-md {
        width: 180px;
        margin-right: 8px !important;
        padding: 0;
    }
    .material-icons {
        @include screen-md {
            padding: 8px !important;
        }
    }
}
.result-input-date {
    @include screen-md{
        display: none !important;
    }
}
.result-input-date-mob {
    display: none !important;
    @include screen-md{
        display: flex !important;
    }
}
