.navbar {
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo {
    width: 96px;
    height: 24px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../img/logo-aloha.svg) no-repeat;
}