.navbar {
    height: 72px;
    padding-top: 24px;
    padding-bottom: 24px;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    z-index: 10;
    background: $color-basic-w;
}

.logo {
    width: 96px;
    height: 24px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../img/logo-aloha.svg) no-repeat;
}