.sub {
    padding: 32px 0;
    
}

.index-sub {
    padding-top: 92px;
    padding-bottom: 92px;
}

.sub-tit {
    @include screen-md{
        width: 25%;
        font-size: 24px;
    }
    @include screen-sm {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 1rem;
    }
}

.sub-input {
    ::placeholder {
        color: $color-tertiary;
    }
    background-color: $color-basic-w;
    border: none;
    border-radius: 4px 0px 0px 4px;
    padding: 16px;
    @include screen-md{
        height: 56px;
    }
}
.sub-btn {
    @include screen-md{
        height: 56px;
    }
}

.sub-mob-wrap {
    @include screen-sm {
        flex-direction: column;
        justify-content: center;
    }
}